@import "~bootstrap/scss/bootstrap";

.contacts-list{
    border: 1px solid #000;
}
.contacts-list-th{
    border: 1px solid #000;
}
.question-help{
    width: 15px;
    height: 15px;
    cursor: pointer;
}